.time-period-select {
  cursor: pointer;
}

.time-period-select .select__control {
  border: 0;
  outline: 0;
  box-shadow: none;
  cursor: pointer;
}

.time-period-select .select__single-value {
  color: #5c1fc4 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  margin-right: 8px;
}

.time-period-select .select__control:hover {
  border: 0;
  outline: 0;
}
