.chart-button:hover {
  background-color: #e1d5f2;
}
.chart-bar:hover .bar,
.chart-donut:hover .donut,
.chart-scatter:hover .point {
  fill: #442873;
}

.chart-scatter:hover .line {
  stroke: #442873;
}

.chart-button-active {
  background-color: #442873;
  cursor: default !important;
}
.chart-button-active:hover {
  background-color: #442873;
}
.chart-button-active .bar,
.chart-button-active .donut,
.chart-button-active .point,
.chart-button-active:hover .bar,
.chart-button-active:hover .donut,
.chart-button-active:hover .point {
  fill: white;
}
.chart-button-active .line,
.chart-button-active:hover .line {
  stroke: white;
}
